html, body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.counter {
    display: flex;
    align-items: center;
}

#reset-btn {
    margin-top: 15px;
}
button {
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 6px;
    background-color: #555;
}

#input-count {
    transition: 0.5s;
}
